<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Khushal</title>
    <link rel="stylesheet" text="text/css" href="/style.css">
</head>
<body style="background-color: black;">
    <h1 style="color: aliceblue; text-align: center;">Welcome to connectivity</h1>
    <form action="/addData" method="post">
        <div style="margin-top: 15rem; margin: 10px; margin-left: 35rem;">
            <input type="text" name="email" placeholder="Enter Your Email">
        </div>
        <div style="margin: 10px; margin-left: 35rem;">
            <input type="text" name="name" placeholder="Enter Your Name">
        </div>
        <div style="margin: 10px; margin-left: 35rem;">
            <input type="submit" name="submit">
        </div>
        <div style="margin: 10px; margin-left: 35rem;">
            <a href="http://localhost:3000/seeData">View Data</a>
        </div>
    </form>
</body>
</html>